body {
    background-color: #fff9e0;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
}

.main__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: -1;
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(78, 204, 163, 0.5);
    border-radius: 50%;
    animation: float 4s ease-in-out infinite;
    z-index: -1;
}

.circle:nth-child(1) {
    top: 5%;
    left: 7%;
    background: #a1c45a;
    animation-duration: 6s;
}

.circle:nth-child(2) {
    top: 50%;
    left: 5%;
    background: #ea4c4c;
    animation-duration: 6s;
}

.circle:nth-child(3) {
    top: 60%;
    left: 50%;
    background: #ea4c4c;
    animation-duration: 7s;
}

.circle:nth-child(4) {
    top: 80%;
    left: 75%;
    background: #a1c45a;
    animation-duration: 8s;
}

.circle:nth-child(5) {
    top: 20%;
    left: 75%;
    animation-duration: 9s;
}

.circle:nth-child(6) {
    top: 80%;
    left: 25%;
    animation-duration: 10s;
}

@keyframes float {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-20px) scale(1.1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(images/background-img.png) repeat;
    z-index: 200;
    color: #fff;
    text-align: center;
    line-height: 40vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(images/background-img.png) repeat;
    z-index: -10;
    color: #fff;
    text-align: center;
    line-height: 40vh;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    font-family: "Press Start 2P", system-ui;
    font-size: 80px;
    font-weight: 600;
}

.logo-img{
    position: absolute;
    left: 32%;
    top: 30%;
    width: 450px;
    height: 450px;
    
}
